{% extends "base.html" %}

{% block content %}

    <h1>Loans Dashboard</h1>

        <p>Total Loans: {{ total_loans }}</p>
        <p>Total Loaned Amount: {{ total_loaned_amount }}</p>
        <p>Total Paid: {{ total_paid }}</p>
        <p>Total Remaining: {{ total_remaining }}</p>
        <p>Overdue Loans: {{ overdue_loans|length }}</p>

        <h2>Loan Details</h2>
        <table border="1" cellpadding="8">
            <tr>
                <th>Loan Amount</th>
                <th>Remaining Balance</th>
                <th>Status</th>
                <th><span style="color: red;">Days Overdue</span></th>
            </tr>
            {% for loan in loans %}
            <tr>
                <td>{{ loan.amount }}</td>
                <td>{{ loan.remaining_balance }}</td>
                <td>
                    {% if loan.is_paid %}
                       <span style="color: green;"> Paid </span> 
                    {% elif loan.is_overdue %}
                        <span style="color: red;"> Overdue </span>
                    {% else %}
                        <span style="color: orange;"> Active </span>
                    {% endif %}
                </td>
                <td>
                    {% if loan.is_overdue %}
                        {{ loan.days_overdue }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>

{% endblock %}
