{% extends "base.html" %}

{% block content %}

       
    {% if paid_loans_exist %}
    <!-- text-[#f9e60c] -->
        <p class="mt-5 mb-1 ml-2 text-amber-400">       
            Fully paid loans remain visible for 3 days.
        </p>
    {% endif %}

    <!-- <a href="{% url 'apply_for_loan' %}">Apply for Loan</a>
    <br><br> -->


    {% if loans %}
        <table class="w-full border border border-teal-900 border-collapse font-normal text-white/75 shadow-lg ">
            <tr>
                <th class="border border-teal-900 bg-gray-500/25 px-4 py-2">BORROWER</th>
                <th class="border border-teal-900 bg-gray-500/25 px-4 py-2">AMOUNT</th>
                <th class="border border-teal-900 bg-gray-500/25 px-4 py-2">DUE DATE</th>
                <th class="border border-teal-900 bg-gray-500/25 px-4 py-2">STATUS</th>
                <th class="border border-teal-900 bg-gray-500/25 px-4 py-2">REMAINING BALANCE</th>
                <th class="border border-teal-900 bg-gray-500/25 px-4 py-2">ACTION</th>
                <th class="border border-teal-900 bg-gray-500/25 px-4 py-2">HISTORY</th>
            </tr>

            {% for loan in loans %}
            <tr>
                <td class="uppercase border border border-teal-900 px-4 py-2">{{ loan.borrower.name }}</td>
                <td class="uppercase border border border-teal-900 px-4 py-2">{{ loan.amount }}</td>
                <td class="uppercase border border border-teal-900 px-4 py-2">{{ loan.due_date }}</td>
                
             <td class="border border border-teal-900 px-4 py-2"> 
                {% if loan.is_paid %}
                    <span style="color:rgb(0, 128, 0); font-weight:bold;">Paid</span>

                {% elif loan.is_overdue %}
                    <span style="color:red; font-weight:bold;">
                        Overdue ({{ loan.days_overdue }} days)
                    </span>

                {% else %}
                    {% if loan.status == "approved" %}
                        <span style="color: green; font-weight:bold;">LOAN ACTIVE</span>

                    {% elif loan.status == "pending" %}
                        <span style="color: orange; font-weight:bold;">PENDING APPROVAL</span>

                    {% elif loan.status == "rejected" %}
                        <span style="color: red; font-weight:bold;">LOAN REJECTED</span>
                    {% endif %}
                {% endif %}
            </td>




                
                <td class="uppercase border border border-teal-900 px-4 py-2">{{ loan.remaining_balance }}</td>

                <td class="uppercase border border border-teal-900 px-4 py-2">
                    {% if loan.status == "approved" and loan.remaining_balance > 0 %}
                        <a href="{% url 'make_payment' loan.id %}">
                            <button class="px-4 py-2 rounded-md font-normal text-white/80 text-sm
                            bg-cyan-700 text-white
                            transition-all duration-1000 ease-in-out
                            hover:bg-cyan-600 hover:scale-105">
                            MAKE PAYMENT</button>
                        </a>
                    {% elif loan.status == "approved" and loan.remaining_balance == 0 %}
                        <strong style="color: green;">Paid</strong>
                    {% else %}
                        <span style="color: gray;">Not Available</span>
                    {% endif %}

                </td>
                <td class="uppercase border border border-teal-900 px-4 py-2">
                    {% if loan.status == "approved" %}
                        <a href="{% url 'payment_history' loan.id %}">
                            <button class="px-4 py-2 rounded-md font-normal text-white/80 text-sm
                            bg-purple-800 text-white
                            transition-all duration-1000 ease-in-out
                            hover:bg-purple-600 hover:scale-105">PAYMENT HISTORY</button>
                        </a>
                    {% else %}
                        <span style="color: gray;">NO HISTORY</span>
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
            
        </table>
    {% else %}
        <p class="uppercase">No loans available.</p>
    {% endif %}
{% endblock %}

