{% extends "base.html" %}

{% block content %}

    <h1>My Loans</h1>

    {% if paid_loans_exist %}
        <p style="color: gray; font-size: 14px;">
            Fully paid loans remain visible for 3 days before moving to loan history.
        </p>
    {% endif %}

    <!-- <a href="{% url 'apply_for_loan' %}">Apply for Loan</a>
    <br><br> -->


    {% if loans %}
        <table border="1" cellpadding="8">
            <tr>
                <th>Borrower</th>
                <th>Amount</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>Remaining balance</th>
                <th>Action</th>
                <th>History</th>
            </tr>

            {% for loan in loans %}
            <tr>
                <td>{{ loan.borrower.name }}</td>
                <td>{{ loan.amount }}</td>
                <td>{{ loan.due_date }}</td>
                <!-- <td>
                    {% if loan.is_paid %}
                        <span style="color:green; font-weight:bold;">Paid</span>
                    {% elif loan.is_overdue %}
                        <span style="color:red; font-weight:bold;">Overdue</span>
                    {% else %}
                        <span style="color:orange; font-weight:bold;">Active</span>
                    {% endif %}
                </td> -->
             <td>
                {% if loan.is_paid %}
                    <span style="color:rgb(0, 128, 0); font-weight:bold;">Paid</span>

                {% elif loan.is_overdue %}
                    <span style="color:red; font-weight:bold;">
                        Overdue ({{ loan.days_overdue }} days)
                    </span>

                {% else %}
                    {% if loan.status == "approved" %}
                        <span style="color: green; font-weight:bold;">Loan Active</span>

                    {% elif loan.status == "pending" %}
                        <span style="color: orange; font-weight:bold;">Pending Approval</span>

                    {% elif loan.status == "rejected" %}
                        <span style="color: red; font-weight:bold;">Loan Rejected</span>
                    {% endif %}
                {% endif %}
            </td>




                
                <td>{{ loan.remaining_balance }}</td>

                <td>
                    {% if loan.status == "approved" and loan.remaining_balance > 0 %}
                        <a href="{% url 'make_payment' loan.id %}">
                            <button>Make Payment</button>
                        </a>
                    {% elif loan.status == "approved" and loan.remaining_balance == 0 %}
                        <strong style="color: green;">Paid</strong>
                    {% else %}
                        <span style="color: gray;">Not Available</span>
                    {% endif %}

                </td>
                <td>
                    {% if loan.status == "approved" %}
                        <a href="{% url 'payment_history' loan.id %}">
                            <button>Payment History</button>
                        </a>
                    {% else %}
                        <span style="color: gray;">No History</span>
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No loans available.</p>
    {% endif %}
{% endblock %}

